ul {
    list-style-type: none;
}

p {
    padding: 2%;
}

.App {
    text-align: center;
    background-color: #282c34;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: #282c34;
}

.spotify-login {
    width: 220px;
    background: rgba(30, 215, 96, 1) !important;
    border-color: rgba(30, 215, 96, 1);
}
.spotify-login:hover {
    background: rgba(30, 215, 96, 1);
}
.spotify-login:focus {
    background: rgba(30, 215, 96, 1);
}
.spotify-login:active {
    background: rgba(30, 215, 96, 1);
}
